$bg: #020f2d;

$black: #000000;
$blackLight: #0a1734;
$white: #ffffff;
$whiteLight: #dddddd;

$group0: #fa04fb;
$group0Border: rgba(255, 63, 165, 1);
$group0Bg: rgba(255, 63, 165, 0.15);
$group1: #4474f9;
$group1Border: rgba(69, 118, 255, 1);
$group1Bg: rgba(69, 118, 255, 0.15);
$group2: #00cb65;
$group2Border: rgba(0, 211, 104, 1);
$group2Bg: rgba(0, 211, 104, 0.15);
$group3: #ef8a26;
$group3Border: rgba(235, 137, 38, 1);
$group3Bg: rgba(235, 137, 38, 0.15);
$group4: #d95e5e;
$group4Border: rgba(227, 94, 89, 1);
$group4Bg: rgba(227, 94, 89, 0.15);

$line: #3e69de;
$lineLight: rgba(62, 105, 222, 0.2);
$btn: #4576ff;
$btnDeep: #3e69de;
$btnRGBA: rgba(62, 105, 222, 0.5);

$search: #1d45a0;

$blackShade: rgba(0, 0, 0, 0.35);
$font: #618496;
$fontDeep: #183c4d;

$main: #041a29;
$mainDeep: #031928;

$gray: #999;
$grayLight: #f1f1f1;

$bgCircle: #142c3c;

$border: #eee;
$borderMain: #4270f0;
$lineDivision: #5c7680;
$lineBorder: rgba(27, 50, 67, 0.85);

$light: rgba(20, 214, 255, 1);
$lightStrong: rgba(20, 214, 255, .5);
$lightLow: rgba(38, 63, 81, .5);
$bgLight: rgba(38, 63, 81, .2);

$red: #c55354;
$redGrey: #f46868;
$orange: #ff6700;
$green: #49d96c;
$yellow: #ffe71c;
$purple: #9b79ff;
$jasper: #79ff80;
$greyGreen: #79feff;

$trapezoidColorLvl0: #fa4f4f;
$trapezoidColorLvl1: #f3744d;
$trapezoidColorLvl2: #f19839;
$trapezoidColorLvl3: #ecc93d;
$trapezoidColorLvl4: #93cc54;
$trapezoidBg: #324c5f;

$animationTime: 5s;
$animationTime2: 10s;
