// font-size style
$sizeXXS: 12px;
$sizeXS: 16px;
$sizeS: 18px;
$sizeM: 20px;
$sizeML: 24px;
$size: 28px;
$sizeLS: 32px;
$sizeL: 36px;
$sizeXL: 46px;
$sizeXLM: 48px;
$sizeXLS: 56px;
$sizeXXL: 72px;
$sizeXXXL: 108px;

$fontFamily: 'Digital-Regular';

$weightThin: 100;
$weightExtraLight: 200;
$weightLight: 300;
$weightNormal: 400;
$weightMedium: 500;
$weightSemiBold: 600;
$weightBold: 700;
$weightExtraBold : 800;
$weightBolder: 900;
